/* SendMoney.module.css */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  
  .formSection {
    width: fit-content;
    padding: 40px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: center;
  }
  
  .formSection h2 {
    background: linear-gradient(to right,#f14115,#ff7e5f);
    padding: 10px;
    border-radius: 10px;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #f2f2f2;
  }
  
  .input {
    width: 100%;
    padding: 12px;
    margin-right: 10px;
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(90deg, #ff7e5f, #feb47b);
    border-radius: 5px;
    font-size: 16px;
  }
  
  .input:focus {
    outline: none;
    border-image-source: linear-gradient(90deg, #feb47b, #ff7e5f);
    border-image-slice: 1;
  }
  
  .sendButton {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #f14115;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sendButton:hover {
    background-color: #ff7e5f;
  }
  
  .imageSection {
    max-width: 500px;
    text-align: right;
  }
  
  .imageSection img {
    max-width: 100%;
  }
  
  .processSection {
  background:linear-gradient(to right,#feb47b,#f14115);
    background-attachment: fixed; /* Parallax effect */
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    color: white;
    text-align: center;
    margin-top: 0; /* Fixes white space */
  }
  
  .processSection h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .processSection p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto 20px auto;
    line-height: 1.6;
  }
  
  @media (max-width: 768px) {
    .formSection {
      width: 100%;
    }
  
    .formSection h2{
        font-size: 1.5rem;
    }
    .processSection {
      padding: 50px 10px;
    }
  
    .processSection h2 {
      font-size: 2rem;
    }
  
    .processSection p {
      font-size: 1rem;
    }
  }
  