*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.children{
  margin-top: 0px;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width:1120px){
  .children{
    margin-top: 70px;
  }
}
.custom-shape-divider-top-1723822658 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1723822658 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1723822658 .shape-fill {
  fill: #FFFFFF;
}